@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Titillium Web', sans-serif;
}

.feedbackShow.hidden {
  display: none;
}

.feedbackShow.block {
  display: block;
}

iframe {
  max-width: 1000px;
  height: 20vh;
  width: 880px;
  height: 450px;
  @media screen and (max-width: 1000px) {
    width: 90%;
  }
}

.hidden-content {
  overflow: hidden;
  position: relative;
}

.hidden-content::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
  background: linear-gradient(
    to bottom,
    rgba(242, 242, 242, 0),
    rgba(242, 242, 242, 1)
  );
}
#E5E7EB .hidden-content.open {
  max-height: 2500px; /* Ajuste conforme o conteúdo que você quer expandir */
  transition: max-height 0.5s ease;
}

.hidden-content.open::after {
  display: none; /* Remove o gradiente quando o conteúdo é totalmente expandido */
}

.custom-list {
  list-style-type: none; /* Remove o estilo padrão da lista */
  padding-left: 1.5em; /* Espaçamento à esquerda para o marcador customizado */
}

.custom-list li {
  position: relative; /* Necessário para o posicionamento do pseudo-elemento */
  margin-bottom: 10px; /* Espaçamento entre os itens */
}

.custom-list li::before {
  content: '';
  position: absolute;
  left: -20px; /* Posiciona o marcador à esquerda do item */
  top: 50%;
  transform: translateY(-50%);
  width: 8px; /* Largura do círculo */
  height: 8px; /* Altura do círculo */
  border: 2px solid; /* Cor da borda do círculo */
  border-radius: 50%; /* Faz o círculo */
}

.banner-title {
  -webkit-clip-path: polygon(93% 0, 100% 33%, 96% 100%, 0 100%, 0 5%);
  clip-path: polygon(93% 0, 100% 33%, 96% 100%, 0 100%, 0 5%);

  @media screen and (max-width: 768px) {
    -webkit-clip-path: polygon(96% 0, 100% 29%, 98% 100%, 0 100%, 0 4%);
    clip-path: polygon(96% 0, 100% 29%, 98% 100%, 0 100%, 0 4%);
  }
  @media screen and (max-width: 640px) {
    -webkit-clip-path: polygon(95% 0, 100% 35%, 97% 100%, 0 100%, 0 4%);
    clip-path: polygon(95% 0, 100% 35%, 97% 100%, 0 100%, 0 4%);
  }
}

.banner-subtitle {
  -webkit-clip-path: polygon(99% 0, 100% 67%, 97% 100%, 0 100%, 0 0);
  clip-path: polygon(99% 0, 100% 67%, 97% 100%, 0 100%, 0 0);
  @media screen and (max-width: 768px) {
    -webkit-clip-path: polygon(98% 0, 100% 67%, 97% 100%, 0 100%, 0 0);
    clip-path: polygon(98% 0, 100% 67%, 97% 100%, 0 100%, 0 0);
  }
  @media screen and (max-width: 640px) {
    -webkit-clip-path: polygon(97% 0, 100% 67%, 97% 100%, 0 100%, 0 0);
    clip-path: polygon(97% 0, 100% 67%, 97% 100%, 0 100%, 0 0);
  }
}

.think-path {
  color: white;
  -webkit-clip-path: polygon(17% 8%, 95% 14%, 92% 37%, 80% 50%, 7% 46%, 4% 17%);
  clip-path: polygon(17% 8%, 95% 14%, 92% 37%, 80% 50%, 7% 46%, 4% 17%);
}
.title-path {
  background-image: url('assets/accordion/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  width: fit-content;
  padding: 1rem 5rem 1rem 4rem;
  margin-bottom: 20px;

  -webkit-clip-path: polygon(9% 0, 100% 13%, 96% 75%, 86% 100%, 4% 91%, 0% 25%);
  clip-path: polygon(9% 0, 100% 13%, 96% 75%, 86% 100%, 4% 91%, 0% 25%);
}

.title-path-pink {
  background-color: #ff4d88;
  color: white;
  width: fit-content;
  padding: 1rem 5rem 1rem 4rem;
  margin-bottom: 20px;

  -webkit-clip-path: polygon(9% 0, 100% 13%, 96% 75%, 86% 100%, 4% 91%, 0% 25%);
  clip-path: polygon(9% 0, 100% 13%, 96% 75%, 86% 100%, 4% 91%, 0% 25%);
}

@media screen and (max-width: 450px) {
  .title-path-pink {
    padding: 1rem 3rem 1rem 2rem;
  }
}

.naPratica {
  -webkit-clip-path: polygon(8% 2%, 93% 8%, 98% 43%, 94% 92%, 3% 100%, 0% 32%);
  clip-path: polygon(8% 2%, 93% 8%, 98% 43%, 94% 92%, 3% 100%, 0% 32%);
}
.naPraticaBanner {
  -webkit-clip-path: polygon(4% 0%, 97% 0%, 97% 76%, 95% 100%, 2% 100%, 2% 20%);
  clip-path: polygon(4% 0%, 97% 0%, 97% 76%, 95% 100%, 2% 100%, 2% 20%);
}
.naPraticaItem {
  -webkit-clip-path: polygon(
    13% 23%,
    33% 10%,
    66% 19%,
    46% 100%,
    28% 85%,
    4% 63%
  );
  clip-path: polygon(13% 23%, 33% 10%, 66% 19%, 46% 100%, 28% 85%, 4% 63%);
}
.naPraticaItem2 {
  -webkit-clip-path: polygon(
    13% 23%,
    33% 10%,
    66% 19%,
    46% 100%,
    28% 99%,
    4% 52%
  );
  clip-path: polygon(13% 23%, 33% 10%, 66% 19%, 46% 100%, 28% 99%, 4% 52%);
}

.think-shadow {
  filter: drop-shadow(4px 5px 0px #118ab2);
}

.iframe-style {
  width: 65%;
  height: 46vh;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.citação {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.15px;

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
}

.referencia {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.15px;
}

h1 {
  font-size: 3.5625rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  @media (max-width: 576px) {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }
}

h2 {
  font-size: 2.8125rem;
  line-height: 3.25rem;
  font-weight: 700;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  @media (max-width: 576px) {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 600;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @media (max-width: 576px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media (max-width: 576px) {
    font-size: 1.1875rem;
    line-height: 1.95rem;
  }
}

h5 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media (max-width: 576px) {
    font-size: 1.125rem;
    line-height: 1.45rem;
  }
}

h6 {
  /* Título de tabelas e Título das figuras */
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media (max-width: 576px) {
    font-size: 1.125rem;
    line-height: 1.45rem;
  }
}

p {
  color: var(--paragraphColor);
  font-size: 1.375rem;
  line-height: 2.063rem;
  font-weight: 400;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media (max-width: 576px) {
    font-size: 1.125rem;
    line-height: 1.45rem;
  }
}

i {
  font-weight: 400;
}

a {
  word-break: break-word;
  color: #0000ff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .iframe-style {
    width: 90% !important;
  }

  .citação {
    font-size: 1rem !important;
  }
}

.bg-sub,
.bg-main {
  border-radius: 3px 96px 110px 0px;
}

body {
  background: #ffffff;
}
