.borderLearningBlock{
border-image-slice: 35 44 32 38;
border-image-width: 20px 20px 20px 20px;
border-image-outset: 0px 0px 0px 0px;
border-image-repeat: stretch stretch;
border-image-source:                       url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDU3IiBoZWlnaHQ9IjYyOCIgdmlld0JveD0iMCAwIDQ1NyA2MjgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik00MTAuMTA5IDEuMjVIMjI1LjY5Mkg0MS4yNzU5IiBzdHJva2U9IiMyQTZCMTMiIHN0cm9rZS13aWR0aD0iMi41Ii8+CjxwYXRoIGQ9Ik00Mi4yNzU5IDYyNi4yNUg0MS41NDI0TDEuMjc1ODggNTk0LjcxN0wyNC45NjgyIDI2Ljk3NTZDMjQuOTY4MiAyNi45NzU2IDMyLjE5ODcgMTEuNDI4OSAzNy4xOTA5IDEuMjVINDIuMjc1OSIgc3Ryb2tlPSIjMkE2QjEzIiBzdHJva2Utd2lkdGg9IjIuNSIvPgo8cGF0aCBkPSJNNDExLjEwOSA2MjYuMjVIMjI2LjY5Mkg0Mi4yNzU5IiBzdHJva2U9IiMyQTZCMTMiIHN0cm9rZS13aWR0aD0iMi41Ii8+CjxwYXRoIGQ9Ik00MDkuMjc2IDEuMjVINDEzLjE2Nkw0MjUuMzUyIDM3LjQxMTFMNDQ2LjY3NyA1MS42NzM3TDQ1NS4yNzYgNTM0Ljk3TDQxMy4xNjYgNjI2LjI1TDQwOS4yNzYgNjI2LjI1IiBzdHJva2U9IiMyQTZCMTMiIHN0cm9rZS13aWR0aD0iMi41Ii8+Cjwvc3ZnPgo=');

border-style: solid;
}

.borderLearningBlock9{
border-image-slice: 181 187 181 168;
border-image-width: 20px 20px 20px 20px;
border-image-outset: 0px 0px 0px 0px;
border-image-repeat: stretch stretch;
border-image-source: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5NyIgaGVpZ2h0PSIxMzkxIiB2aWV3Qm94PSIwIDAgMTc5NyAxMzkxIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMTcxNi4wNCAxMzc1LjVMMTI4LjU0NSAxMzcwLjVMMTUuMDQ0OSAxMjAzTDI1LjA0NDkgMTc3QzI1LjA0NDkgMTc3IDEwOS41NTMgMzcuMTgxNyAxMTQuNTQ1IDE1SDE3MDcuMDQiIHN0cm9rZT0iIzRBOTBFMiIgc3Ryb2tlLXdpZHRoPSIzMCIvPgo8cGF0aCBkPSJNMTcwMC41NCAxNUgxNzI0LjI1TDE3MjguODMgMTIyLjM3MkwxNzgxLjU0IDIwMlYxMDI5TDE3MDAuNTQgMTM2OCIgc3Ryb2tlPSIjNEE5MEUyIiBzdHJva2Utd2lkdGg9IjMwIi8+Cjwvc3ZnPgo=');
border-style: solid;
}